@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}
