@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for a cleaner mobile experience */
::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none;
}
